In [1]:
import pandas as pd

In [2]:
csv_path = 'budget_data.csv'

In [5]:
py_bank_df = pd.read_csv(csv_path)

py_bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
months_count = py_bank_df['Date'].count()

months_count

86

In [7]:
net_total = py_bank_df["Profit/Losses"].sum()

net_total

38382578

In [56]:
py_bank_df["Profit/Loss Diff"] = py_bank_df["Profit/Losses"].diff()

profit_loss_average = py_bank_df["Profit/Loss Diff"].mean()

profit_loss_average

-2315.1176470588234

In [57]:
greatest_increase = py_bank_df["Profit/Loss Diff"].max()
greatest_decrease = py_bank_df["Profit/Loss Diff"].min()

greatest_increase_row = py_bank_df.loc[py_bank_df["Profit/Loss Diff"] == greatest_increase]
greatest_decrease_row = py_bank_df.loc[py_bank_df["Profit/Loss Diff"] == greatest_decrease]

greatest_decrease_date = greatest_decrease_row.iloc[0]
greatest_increase_date = greatest_increase_row.iloc[0]

In [55]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {months_count}")
print(f"Total Revenue: ${net_total}")
print(f"Average Revenue Change: ${profit_loss_average}")
print(f"Greatest Increase: {greatest_increase_date} ({greatest_increase})")
print(f"Greatest Decrease: {greatest_decrease_date} ({greatest_decrease})")

Financial Analysis
----------------------------
Total Months: 86
Total Revenue: $38382578
Average Revenue Change: $-2315.1176470588234
Greatest Increase: Feb-2012 (1926159.0)
Greatest Decrease: Sep-2013 (-2196167.0)